/* mulish font from google font */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

/* share section started */

img{
    width: 100%;
    height: 100%;
}


/* share section finish */


/* header style */

header{
    margin-top: 63px;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 52px;
}

nav{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.img-title{
    display: flex;
    align-items: center;
}

.icon{
    width: 48px;
    height: 56.008px;
    margin-right: 16.63px;
}

.nav-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-title-span{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-list{
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-home-span{
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

nav >ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 1.125rem;
}

nav li a{
    text-decoration: none;
    color: #424247;
}

/* nav section finish */

/* banner section started */



.banner-section{
    background-image: url('../Images/banner.png');
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}

.banner-item{
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

.banner-section p{

    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.ban-input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 12px;
    margin-top: 20px;
    
}

.ban-input .text{

    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: 145px;

}

.select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border: none;
    width: 150px;
}

.banner-btn{
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    width: 150px;

}

.item{
    text-align: center;
    align-items: center;
}

.banner-title-text{
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}








/* main section started */

main{
    max-width: 1170px;
    margin: 0 auto;
}

/* popular tour section */

.popular-tour-section{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.popular-h3{
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-p1, .popular-p2{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popular-ul{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}

.popular-p2{
    color: #5A5A5D;
}

.popular-btn{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 14px 34px 13px 35px;
}

.popular-igm-div img{
    width: 100%;
}


/* destination section started */

/* banner text */

.destination-section{

    margin-top: 100px;
}

.destination-text-div{
    text-align: center;
    margin: 0 auto;
}

.destination-h3{
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.destination-p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}

/* destination image  */

.destination-img{
    margin-top: 48px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.img-row1{
    
    margin-bottom: 24px;
    display: flex;
    margin-top: 24px;
    gap: 24px;
    max-height: 300px;
    width: 100%;
    
}

.row1-img1{

    width: 50%;
}

.row1-img2{
    width: 50%; 
    /*  */
}

/* ========================= */

.img-row2-main {
   

    display: flex;
    margin-top: 24px;
    gap: 24px;
    max-height: 286px;
    width: 100%;
    
}

.row2-img1{

    
    width: 30%;
}

.row2-img2{
    

    width: 50%;
}

.row2-img3{
   
    width: 20%;
}

/* ===================== */

.img-row3{
    display: flex;
    margin-top: 24px;  
    gap: 24px;
    max-height: 300px;
    width: 100%;
}

.row3-div1{

    width: 40%;
}

.row3-div2{
    width: 60%;
}

/* choose section start */


.choose-section{
    margin-top: 100px;
}

/* chose title section */

.chose-title-section{

    text-align: center;
    margin: 0 auto;
}

.chose-title-h3{
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.chose-ttle-p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

/* chose subsection */


.chose-subsec1{

    display: flex;
    margin-top: 48px;
    gap: 24px;
    width: 100%;

}


/* chose subsec1 */
/* ==================== */
.subsec1-hotel{
    
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 50%;
    margin-bottom: 24px;
}

.subsec1-hotel >img{
    width: 64px;
    height: 64px;
    padding: 32px 477px 32px 32px;
}

.subsec1-h3{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 32px;
    
}

.subsec1-p{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 32px;
}
/* =============================== */

.subsec1-service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 50%;
    margin-bottom: 24px;
}

.subsec1-service >img{

    width: 64px;
    height: 64px;
    padding: 32px 477px 32px 32px;

}

.service-h3{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 32px;
}


.service-p{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 32px;
}
/* ============================ */

.subsec2-main{
    max-width: 573px;
    text-align: center;
    margin: 0 auto;
}
    

.subsec1-bestprice{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    
    
}

.subsec1-bestprice >img{

    width: 64px;
    height: 64px;
    padding: 32px 477px 32px 32px;
}

.bestprice-h3{

    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 32px;
    padding-right: 300px;
}

.bestprice-p{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 32px;
    padding-right: 55px;
    text-align: left;
}

/* newsletter section started */

.newsletter-main{
    margin-top: 100px;
    display: flex;
    width: 100%;
    gap: 24px;
}

.form-main{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
}

.form-content{

    padding: 10px 10px 10px 10px;
}

.form-h4{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.form-p{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.form-content input{
    display: flex;
    flex-direction: column;
}

.input-name{
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 251px 16px 20px;
    margin-bottom: 16px;
    margin-top: 26px;
}

.input-email{

    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 251px 16px 20px;
}

.submit-btn{
    padding: 14px 150px 13px 147px;
    color: #FFF;
    text-align: center;
   font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-top: 24px;
}


.news-backimage{
    background-image: url('../Images/Rectangle8\ \(1\).png');
    /* max-width: 672px; */
    max-height: 422px;
    border-radius: 16px;
    width: 60%;
}

.inner{
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform:  translateY(130px) translateX(325px) rotate(-30deg) ;
}

.inner-p{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    padding-top: 20px;
}

.inner-h3{
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 0px;
}




footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer-title-icon{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 100px;

}

.footer-title-icon img{
    width: 40px;
    height: 46.673px;
    text-align: center;

}

.footer-section{
    text-align: center;
    margin: 0 auto;
}

.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 20px;
    padding-top: 20px;
}

.fa-brands{

    width: 50px;
    height: 50px;
}

.footer-hr{
    width: 900px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    
}

*{
    margin: 0;
}

.footer-section{
    padding-bottom: 100px;
}


.smltag{
    padding-top: 50px;
}

.ft-title{
    color:  #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ft-span{
    color: #FF5400;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}




















/* responsive styles small device */

@media screen and (max-width:600px) {

    /* banner section */



    .popular-tour-section{
        flex-direction: column;
        margin-top: 24px;
        font-size: 1rem;
    }

    .popular-btn{
        margin-bottom: 24px;
    }
    
    nav{
        flex-direction: column;
    }

    /* destination section */

    .destination-p{
        width: 309px;
        margin: 0 auto;
    }

    /* destination section image */

    /* img-row-1 */
    
    .img-row1{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .row1-img1{
         width: 100%; 
    }

    .row1-img2{
        width: 100%;
    }

    /* img-row-1 finish */

    /* img-row2-main */

    .img-row2-main{
        flex-direction: column;
        margin-top: 380px;
    }

    .row2-img1{
        width: 100%;
        height: 300px;
    }

    .row2-img2{
        width: 100%;
        height: 300px;
    }

    .row2-img3{
        width: 100%;
        height: 300px;
    }



    /* img-row2-main finish */

    /* img-row3 started */

    .img-row3{
        flex-direction: column;
        margin-top: 690px;
    }

    .row3-div1{
        width: 100%;
        height: 300px;
    }

    .row3-div2{
        width: 100%;

    }

    /* img-row3 finish */

    

    /* chose use section */

    .choose-section{
        margin-top: 350px;
    }

    .chose-subsec1{
        flex-direction: column;
        
    }

    .subsec1-hotel{
        width: 100%;
    }

    .subsec1-service{
        width: 100%;
    }

    /* footer section */

    .footer-section{
        padding: 20px;
    }

}
